.App {
  text-align: center;
}
.navbar {
  width: 100%;
}
.carousel {
  text-decoration-color: black;
  width: 80%;
  height: 30%;
  margin: 2% 10%;
}
.forms{
  width: 50%;
  display: flex;
  justify-content: center;
}
h1 {
  margin-right: 50%;
}